    <p style="font-weight: bold; text-align: center"> Our pizza shop is a local, family owned shop, that delivers high quality food with very fast delivery</p>
    <br>
    <br>
    <div class="arrange">
    <button style="text-align: center" routerLink="pizzalist">Go to our online shop</button></div>
    <br>
    <br>
    <p style="font-weight: bold; text-align: center">Address: Splaiul Independentei no 331</p>
    <p style="font-weight: bold; text-align: center">Phone: 004054545454</p>
    <p style="font-weight: bold; text-align: center">Contact: lucian-gabriel.roman@thalesgroup.com</p>
